.app-container {
    display: flex;
  }
  
  .sidebar {
    flex: 0 0 200px; 
  }
  
  .main-content {
    flex: 1;
    margin-left: 200px; 
    margin-top: -200ox;
    padding: 20px;  
  }
  
  .main-content h1 {
    text-align: center;
  }
  
  .main-content select {
    display: block;
    margin: 20px auto;
  }
  
  .main-content canvas {
    max-width: 100%;
  }
  