.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.App {
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  cursor: pointer;
  margin: 5px 0;
}

.seating-chart {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px 0;
}

.seat {
  width: 30px;
  height: 30px;
  border: 1px solid #000;
  margin: 5px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
}

.seat.selected {
  background-color: #00f;
  color: #fff;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
}




/* MovieList  css */

.App {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f9f9f9; 
}

.container {
  max-width: 600px;
  width: 100%;
  padding: 20px;
  background-color: #fff; 
  border-radius: 10px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  cursor: pointer;
  margin: 10px 0;
  padding: 10px;
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

li:hover {
  background-color: #f0f0f0;
}

.selected {
  background-color: #007bff;
  color: white;
}

.seating-chart {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.seat {
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  margin: 5px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.seat.selected {
  background-color: #007bff;
  color: white;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}
.showtime{
  margin-top: -30px;
  width: 80%;
 
  
 
}